:root {
    --primary: #6c63ff;
    --secondary: #4d4d4d;
    --success: ;
    --danger: ;
    --warning: ;
    --info: ;
    --light: ;
    --dark: ;
    --body: ;
    --muted: ;
    --white: ;
    --black-50: ;
    --white-50: ;
}