@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --root-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: var(--root-size);
    font-weight: 400!important;
}

h1 {
    font-size: 4rem;
    letter-spacing: 0.13rem;
    line-height: 5.5rem;
}


h2 {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    line-height: 4.8rem;
}


h3 {
    font-size: 3rem;
    letter-spacing: 0.08rem;
    line-height: 4.0rem;
}


h4 {
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    line-height: 3.2rem;
}


h5 {
    font-size: 2rem;
    letter-spacing: 0.03rem;
    line-height: 2.6rem;
}


h6 {
    font-size: 1.5rem;
    letter-spacing: 0.01rem;
    line-height: 2.1rem;
}

h1.bold-thick {
    font-weight: 900!important;
}


h2.bold-thick {
    font-weight: 900!important;
}


h3.bold-thick {
    font-weight: 900!important;
}


h4.bold-thick {
    font-weight: 900!important;
}


h5.bold-thick {
    font-weight: 900!important;
}


h6.bold-thick {
    font-weight: 900!important;
}


h1.bold-normal {
    font-weight: 600!important;
}


h2.bold-normal {
    font-weight: 600!important;
}


h3.bold-normal {
    font-weight: 600!important;
}


h4.bold-normal {
    font-weight: 600!important;
}


h5.bold-normal {
    font-weight: 600!important;
}


h6.bold-normal {
    font-weight: 600!important;
}

p {
    font-size: 1.3rem;
    letter-spacing: 0.03rem;
    line-height: 1.8rem;
}

span {
    font-size: 1.5rem;
    letter-spacing: 0.04;
    line-height: 2.0rem;
}

.bold {
    font-weight: 800!important;
}

strike.small {
    font-size: 1.5rem;
    letter-spacing: 0.04;
    line-height: 2.0rem;
    font-weight: 600!important;
}

strike.medium {
    font-size: 2.1rem;
    letter-spacing: 0.05;
    line-height: 2.7rem;
    font-weight: 600!important;
}

strike.large {
    font-size: 3rem;
    letter-spacing: 0.07;
    line-height: 3.7rem;
    font-weight: 600!important;
}
