/* Linear Gradients */

.rb-electric-violet {
    background: #4776E6;
  
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
  
    background: linear-gradient(to right, #8E54E9, #4776E6);
   
}

.rb-kashmir {
    background: #614385;
  
    background: -webkit-linear-gradient(to right, #516395, #614385);
  
    background: linear-gradient(to right, #516395, #614385);
   
}

.rb-steel-gray {
    background: #1F1C2C;
  
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);
  
    background: linear-gradient(to right, #928DAB, #1F1C2C);
   

}

.rb-mirage {
    background: #16222A;
  
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  
    background: linear-gradient(to right, #3A6073, #16222A);
   

}

.rb-juicy-orange {
    background: #FF8008;
  
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
  
    background: linear-gradient(to right, #FFC837, #FF8008);
   

}

.rb-mojito {
    background: #1D976C;
  
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
  
    background: linear-gradient(to right, #93F9B9, #1D976C);
   

}

.rb-cherry {
    background: #EB3349;
  
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);
  
    background: linear-gradient(to right, #F45C43, #EB3349);
   

}

.rb-pinky {
    background: #DD5E89;
  
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);
  
    background: linear-gradient(to right, #F7BB97, #DD5E89);
   

}

.rb-sea-weed {
    background: #4CB8C4;
  
    background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);
  
    background: linear-gradient(to right, #3CD3AD, #4CB8C4);
   

}

.rb-stripe {
    background: #1FA2FF;
  
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
   

}

.rb-purple-paradise {
    background: #1D2B64;
  
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);
  
    background: linear-gradient(to right, #F8CDDA, #1D2B64);
   

}

.rb-sunrise {
    background: #FF512F;
  
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);
  
    background: linear-gradient(to right, #F09819, #FF512F);
   

}

.rb-aqua-marine {
    background: #1A2980;
  
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
  
    background: linear-gradient(to right, #26D0CE, #1A2980);
   

}

.rb-aubergine {
    background: #AA076B;
  
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
  
    background: linear-gradient(to right, #61045F, #AA076B);
   

}

.rb-bloody-mary {
    background: #FF512F;
  
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
  
    background: linear-gradient(to right, #DD2476, #FF512F);
   

}

.rb-mango-pulp {
    background: #F09819;
  
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);
  
    background: linear-gradient(to right, #EDDE5D, #F09819);
   
}

.rb-frozen {
    background: #403B4A;
  
    background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);
  
    background: linear-gradient(to right, #E7E9BB, #403B4A);
   

}

.rb-rose-water {
    background: #E55D87;
  
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);
  
    background: linear-gradient(to right, #5FC3E4, #E55D87);
   

}

.rb-horizon {
    background: #003973;
  
    background: -webkit-linear-gradient(to right, #E5E5BE, #003973);
  
    background: linear-gradient(to right, #E5E5BE, #003973);
   

}

.rb-monte-carlo {
    background: #CC95C0;
  
    background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
  
    background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
   

}

.rb-lemon-twist {
    background: #3CA55C;
  
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
  
    background: linear-gradient(to right, #B5AC49, #3CA55C);
   

}

.rb-playing-with-reds {
    background: #D31027;
  
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);
  
    background: linear-gradient(to right, #EA384D, #D31027);
   

}

.rb-harmonic-energy {
    background: #16A085;
  
    background: -webkit-linear-gradient(to right, #F4D03F, #16A085);
  
    background: linear-gradient(to right, #F4D03F, #16A085);
   

}

.rb-cool-brown {
    background: #603813;
  
    background: -webkit-linear-gradient(to right, #b29f94, #603813);
  
    background: linear-gradient(to right, #b29f94, #603813);
   

}

.rb-youtube {
    background: #e52d27;
  
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);
  
    background: linear-gradient(to right, #b31217, #e52d27);
   
}

.rb-noon-to-dusk {
    background: #ff6e7f;
  
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);
  
    background: linear-gradient(to right, #bfe9ff, #ff6e7f);
   

}

.rb-hazel {
    background: #77A1D3;
  
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
  
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);
   

}

.rb-nimvelo {
    background: #314755;
  
    background: -webkit-linear-gradient(to right, #26a0da, #314755);
  
    background: linear-gradient(to right, #26a0da, #314755);
   
}

.rb-sea-blue {
    background: #2b5876;
  
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  
    background: linear-gradient(to right, #4e4376, #2b5876);
   

}

.rb-blooker20 {
    background: #e65c00;
  
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);
  
    background: linear-gradient(to right, #F9D423, #e65c00);
   

}

.rb-sexy-blue {
    background: #2193b0;
  
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  
    background: linear-gradient(to right, #6dd5ed, #2193b0);
   

}

.rb-purple-love {
    background: #cc2b5e;
  
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
  
    background: linear-gradient(to right, #753a88, #cc2b5e);
   

}

.rb-dimigo {
    background: #ec008c;
  
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
  
    background: linear-gradient(to right, #fc6767, #ec008c);
   

}

.rb-skyline {
    background: #1488CC;
  
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
  
    background: linear-gradient(to right, #2B32B2, #1488CC);
   

}

.rb-sel {
    background: #00467F;
  
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);
  
    background: linear-gradient(to right, #A5CC82, #00467F);
   

}

.rb-sky {
    background: #076585;
  
    background: -webkit-linear-gradient(to right, #fff, #076585);
  
    background: linear-gradient(to right, #fff, #076585);
   

}

.rb-petrol {
    background: #BBD2C5;
  
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);
  
    background: linear-gradient(to right, #536976, #BBD2C5);
   

}

.rb-anamnisar {
    background: #9796f0;
  
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
  
    background: linear-gradient(to right, #fbc7d4, #9796f0);
   

}

.rb-copper {
    background: #B79891;
  
    background: -webkit-linear-gradient(to right, #94716B, #B79891);
  
    background: linear-gradient(to right, #94716B, #B79891);
   

}

.rb-royal-blue-petrol {
    background: #BBD2C5;
  
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);
  
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5);
   

}

.rb-royal-blue {
    background: #536976;
  
    background: -webkit-linear-gradient(to right, #292E49, #536976);
  
    background: linear-gradient(to right, #292E49, #536976);
   

}

.rb-windy {
    background: #acb6e5;
  
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
  
    background: linear-gradient(to right, #86fde8, #acb6e5);
   

}

.rb-rea {
    background: #FFE000;
  
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);
  
    background: linear-gradient(to right, #799F0C, #FFE000);
   

}

.rb-bupe {
    background: #00416A;
  
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);
  
    background: linear-gradient(to right, #E4E5E6, #00416A);
   

}

.rb-mango {
    background: #ffe259;
  
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  
    background: linear-gradient(to right, #ffa751, #ffe259);
   

}

.rb-reaqua {
    background: #799F0C;
  
    background: -webkit-linear-gradient(to right, #ACBB78, #799F0C);
  
    background: linear-gradient(to right, #ACBB78, #799F0C);
   

}

.rb-lunada {
    background: #5433FF;
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);

}

.rb-bluelagoo {
    background: #0052D4;
background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);

}

.rb-anwar {
    background: #334d50;
background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);
background: linear-gradient(to right, #cbcaa5, #334d50);

}

.rb-combi {
    background: #00416A;
background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);
background: linear-gradient(to right, #FFE000, #799F0C, #00416A);

}

.rb-ver-black {
    background: #F7F8F8;
background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);
background: linear-gradient(to right, #ACBB78, #F7F8F8);

}

.rb-ver {
    background: #FFE000;
background: -webkit-linear-gradient(to right, #799F0C, #FFE000);
background: linear-gradient(to right, #799F0C, #FFE000);

}

.rb-blu {
    background: #00416A;
background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);
background: linear-gradient(to right, #E4E5E6, #00416A);

}

.rb-grade-grey {
    background: #bdc3c7;
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
background: linear-gradient(to right, #2c3e50, #bdc3c7);

}

.rb-piggy-pink {
    background: #ee9ca7;
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
background: linear-gradient(to right, #ffdde1, #ee9ca7);

}

.rb-cool-blues {
    background: #2193b0;
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
background: linear-gradient(to right, #6dd5ed, #2193b0);

}

.rb-megatron {
    background: #C6FFDD;
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);

}

.rb-moonlit-asteroid {
    background: #0F2027;
background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);

}

.rb-jshine {
    background: #12c2e9;
background: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);

}

.rb-evening-sunshine {
    background: #b92b27;
background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);
background: linear-gradient(to bottom, #1565C0, #b92b27);

}

.rb-dark-ocean {
    background: #373B44;
background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);
background: linear-gradient(to bottom, #4286f4, #373B44);

}

.rb-cool-sky {
    background: #2980B9;
background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);

}

.rb-yoda {
    background: #FF0099;
background: -webkit-linear-gradient(to bottom, #493240, #FF0099);
background: linear-gradient(to bottom, #493240, #FF0099);

}

.rb-memariani {
    background: #aa4b6b;
background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);
background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);
}

.rb-amin {
    background: #8E2DE2;
background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);
background: linear-gradient(to bottom, #4A00E0, #8E2DE2);

}

.rb-harvey {
    background: #1f4037;
background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);
background: linear-gradient(to bottom, #99f2c8, #1f4037);

}

.rb-neuromancer {
    background: #f953c6;
background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
background: linear-gradient(to right, #b91d73, #f953c6);

}

.rb-azur-lane {
    background: #7F7FD5;
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

}

.rb-witching-hour {
    background: #c31432;
background: -webkit-linear-gradient(to right, #240b36, #c31432);
background: linear-gradient(to right, #240b36, #c31432);
}

.rb-flare {
    background: #f12711;
background: -webkit-linear-gradient(to right, #f5af19, #f12711);
background: linear-gradient(to right, #f5af19, #f12711);

}

.rb-metapolis {
    background: #f12711;
background: -webkit-linear-gradient(to right, #f5af19, #f12711);
background: linear-gradient(to right, #f5af19, #f12711);

}

.rb-kyoo-pal {
    background: #dd3e54;
background: -webkit-linear-gradient(to right, #6be585, #dd3e54);
background: linear-gradient(to right, #6be585, #dd3e54);

}

.rb-kye-meh {
    background: #8360c3;
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
background: linear-gradient(to right, #2ebf91, #8360c3);

}

.rb-kyoo-tah {
    background: #544a7d;
background: -webkit-linear-gradient(to right, #ffd452, #544a7d);
background: linear-gradient(to right, #ffd452, #544a7d);

}

.rb-by-design {
    background: #009FFF;
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
background: linear-gradient(to right, #ec2F4B, #009FFF);

}

.rb-ultra-voilet {
    background: #654ea3;
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
background: linear-gradient(to right, #eaafc8, #654ea3);

}

.rb-burning-orange {
    background: #FF416C;
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
background: linear-gradient(to right, #FF4B2B, #FF416C);

}

.rb-wiretap {
    background: #8A2387;
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
background: linear-gradient(to right, #F27121, #E94057, #8A2387);

}

.rb-summer-dog {
    background: #8A2387;
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
background: linear-gradient(to right, #F27121, #E94057, #8A2387);

}

.rb-rastafari {
    background: #1E9600;
background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);
background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);

}

.rb-sin-city-red {
    background: #ED213A;
background: -webkit-linear-gradient(to right, #93291E, #ED213A);
background: linear-gradient(to right, #93291E, #ED213A);

}

.rb-citrus-peel {
    background: #FDC830;
background: -webkit-linear-gradient(to right, #F37335, #FDC830);
background: linear-gradient(to right, #F37335, #FDC830);

}

.rb-blue-raspberry {
    background: #00B4DB;
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
background: linear-gradient(to right, #0083B0, #00B4DB);

}

.rb-margo {
    background: #FFEFBA;
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
background: linear-gradient(to right, #FFFFFF, #FFEFBA);

}

.rb-magic {
    background: #59C173;
background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173);

}

.rb-evening-night {
    background: #005AA7;
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
background: linear-gradient(to right, #FFFDE4, #005AA7);

}

.rb-vanusa {
    background: #DA4453;
background: -webkit-linear-gradient(to right, #89216B, #DA4453);
background: linear-gradient(to right, #89216B, #DA4453);

}

.rb-shifty {
    background: #636363;
background: -webkit-linear-gradient(to right, #a2ab58, #636363);
background: linear-gradient(to right, #a2ab58, #636363);

}

.rb-expresso {
    background: #ad5389;
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
background: linear-gradient(to right, #3c1053, #ad5389);

}

.rb-slight-ocean-view {
    background: #a8c0ff;
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
background: linear-gradient(to right, #3f2b96, #a8c0ff);

}

.rb-pure-lust {
    background: #333333;
background: -webkit-linear-gradient(to right, #dd1818, #333333);
background: linear-gradient(to right, #dd1818, #333333);

}

.rb-moon-purple {
    background: #4e54c8;
background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
background: linear-gradient(to right, #8f94fb, #4e54c8);

}

.rb-red-sunset {
    background: #355C7D;
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);

}

.rb-shifter {
    background: #bc4e9c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-wedding-day-blues {
    background: #40E0D0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-sand-top-blue {
    background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-quepal {
    background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-pun-yeta {
    background: #108dc7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-sublime-light {
    background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-sublime-vivid {
    background: #FC466B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-bighead {
    background: #c94b4b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-taran-tado {
    background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-relaxing-red {
    background: #fffbd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-lawrencium {
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-ohhappiness {
    background: #00b09b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-delicate {
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-selenium {
    background: #3C3B3F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-sulphur {
    background: #CAC531;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-pink-flavour {
    background: #800080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-rainbow-blue {
    background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-orange-fun {
    background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-digital-water {
    background: #74ebd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-lithium {
    background: #6D6027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-argon {
    background: #03001e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-hydrogen {
    background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-zinc {
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-velvet-sun {
    background: #e1eec3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-king-yna {
    background: #1a2a6c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-summer {
    background: #22c1c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-orange-coral {
    background: #ff9966;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-purpink {
    background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-dull {
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-komby-new-blue {
    background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-broken-hearts {
    background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-subu {
    background: #0cebeb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-socialive {
    background: #06beb6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-crimson-tide {
    background: #642B73;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-telegram {
    background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-terminal {
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-scooter {
    background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-alive {
    background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-relax {
    background: #3A1C71;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-meridian {
    background: #283c86;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-compare-now {
    background: #EF3B36;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-mello {
    background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-crystal-clear {
    background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-vision-of-grandeur {
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-chitty-chitty-bang-bang {
    background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-blue-skies {
    background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-sunkist {
    background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-coal {
    background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-html {
    background: #E44D26;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-cinnamint {
    background: #4AC29A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rb-maldives {
    background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}